@using LoadMoreMVCSample.Helpers
@model IEnumerable<LoadMoreMVCSample.Models.Product>

@{
    ViewBag.Title = "LoadMore Sample - HamidMosalla.com";
}

<br />
<br />
@foreach (var item in Model.Batch(4))
{

    <div class="row">
        <div class="col-md-10">

            @foreach (var subitem in item)
            {

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding-right: 5px; padding-left: 5px;">
                    <div class="thumbnail">
                        <h4 class="text-center"><span class="label label-default">@subitem.ProductName</span></h4>
                        <p class="text-center" style="font-size: small;">@subitem.ProductDate.ToLongDateString()</p>
                        <a href="/Product/Details/@subitem.ProductId/@subitem.ProductName"><img src="@subitem.ProductPicture" alt="@subitem.ProductName" class="img-responsive"></a>


                        <div class="caption">
                            <div class="row">
                                <div style="font-size: small;" class="col-md-12 col-xs-12 price">

                                    @Html.Raw(subitem.ProductDescription)
                                    <a href="#">Read more...</a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <a href="#" class="AddProductBtn btn btn-success" data-id="@subitem.ProductId" data-price="@subitem.ProductPrice" data-propic="@subitem.ProductPicture" data-proname="@subitem.ProductName" style="width: 100%;"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


}
<br />
<p id="loadMore" style="text-align: center;">

    <a class="btn btn-danger btn-lg">
        LoadMore &raquo;
        <span>
            <img id="loading" style="display: none;" src="~/Content/ajax-loader.gif" />
        </span>
    </a>

</p>
@section scripts{
<script src="~/Scripts/CustomScript/LoadMore.js"></script>
}